<! DOCTYPE html>
<html lang= "en" xmls:th="http://thymeleaf.org">

<head>

<title> Appointment Confirmation </title>

<style>

	p {
		text-align:center;
	}
</style>


</head>

<body style = "background-color:rgb(00,70,55);">


<!-- *variable* will be time slot user has chosen -->

<h1 style=text-align:center;> Confirmation for Time Slot *variable*: </h1>

<form autocomplete = "on">

	<p> Name: <input type ="text" name="name"><br> </p>
	<p> E-mail: <input type="email" name="email"><br> </p>
	<p> Phone Number: <input type="studentPhone" name="studentPhone"></p>
	<p> <input type="submit"> </p>
	
</form>

<!-- Inputted information from form needs to be put into database -->

</body>
</html>