<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Course Registration Details</title>
    <link th:href="@{/styles/mission.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Course Registration at SRU</h1>
        <p>Registration for courses at Slippery Rock University is completed through the MySRU portal. </p>
        <h2>Registration Information:</h2>
        <ul>
            <li>Summer 2024 and Fall 2024 registration begins April 8, 2024.</li>
            <li>The class schedule for Summer 2024 and Fall 2024 will be available March 22, 2024.</li>
            <li>Winter 2024 and Spring 2025 registration begins November 11, 2024.</li>
            <li>The class schedule for Winter 2024 and Spring 2025 will be available October 25, 2024.</li>
            <li>For important dates and deadlines, please refer to the Academic Calendars.</li>
            <li>For information on what Summer Session has to offer, visit the Summer Session webpage.</li>
            <li>University Catalogs are available from the navigation menu on the left of this page or from the Academics tab under Related Links.</li>
            <li>Class and Final Exam Schedules can be found below and in MySRU on the Academics Tab.</li>
            <li>For information on undergraduate degree requirements visit the Academic Policies section within the catalog.</li>
        </ul>
        <h3>Questions contact:</h3>
        <p>Academic Records and Registration<br>
        Phone: 724.738.2010<br>
        Fax: 724.738.2936<br>
        Email: academic.records@sru.edu<br>
        Room/Building: Old Main, Suite 107</p>
    </div>
    <div class="d-flex mb-3">
        <a class="btn btn-outline-danger" style="margin-left:16px; margin: auto;" onclick="history.back()">Back</a>
    </div>
</body>
</html>
